﻿@model QueryInstitute.Models.StudentViewModel
@using QueryInstitute.Models

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<button type="button" class="btn btn-primary btn-sm btn-lg" data-toggle="modal" data-target="#ModalLoginForm">
    Register
</button>
<div id="ModalLoginForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h1 class="modal-title">Login</h1>
                </div>*@
            <div class="modal-body">
                <form role="form" method="POST" asp-action="AddCourseToStudent">
                    <input type="hidden" asp-for="Enrollment.StudentId" value="@Model.Student.StudentId">
                    <div class="form-group">
                        <br />
                        <div class="form-group">
                            <label style="width:140px">Courses</label>
                            <select asp-for="Enrollment.CourseId" asp-items="@(new SelectList( ViewBag.Courses,"CourseId","CourseName"))"></select>
                        </div>
                        <div class="form-group">
                            <label style="width:140px">Grade</label>
                            <select asp-for="Enrollment.Grade" asp-items="Html.GetEnumSelectList<Grade>()"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success">Save</button>

                            <a class="btn btn-info" href="">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div>
    <br />
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.EnrollmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.EnrollmentDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Student.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


<div class="mt-4">
    @if (Model.Enrollments != null && Model.Enrollments.Count() != 0)
    {
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Grade</th>
                    <th>Credits</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.Enrollments)
                {
                    <tr>
                        <td>@course.Course.CourseName</td>
                        <td>@course.Grade</td>
                        <td>@course.Course.Credits</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>@Model.Student.FirstName has not registered any courses</h2>

        <button type="button" class="btn btn-sm btn-primary btn-lg" data-toggle="modal" data-target="#ModalLoginForm">
            Register
        </button>
    }
</div>