﻿@model IEnumerable<QueryInstitute.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Students</h1>

<p>
    <a class="btn btn-info btn-sm" asp-action="Create">Create New</a>
</p>
<form method="get" asp-action="Index">
    Search by name: <input type="search" name="searchString" value="@ViewData["currentFilter"]" placeholder="Search" />
    <input style="position:relative; top:-2px;" type="submit" value="Search" class="btn btn-sm btn-success" />
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["sortName"]">
                    @Html.DisplayNameFor(model => model.EnrollmentDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>*@

                    <partial name="Partials/_GroupButtonPartial" model="@item.StudentId" />
                </td>
            </tr>
        }
    </tbody>
</table>
