﻿@model IEnumerable<RoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Roles</h1>

<p>
    <a class="btn btn-info btn-sm"  asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                <a class="btn btn-primary btn-sm btn-primary" style="width:70px" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary btn-sm btn-success" style="width:70px" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-primary btn-sm btn-danger" style="width:70px" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
