﻿@model IEnumerable<QueryInstitute.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a class="btn btn-info btn-sm" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>*@

                    <partial name="Partials/_GroupButtonPartial" model="@item.CourseId" />
                </td>
            </tr>
        }
    </tbody>
</table>