﻿ @model IEnumerable<QueryInstitute.Models.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a class="btn btn-info btn-sm"  asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-primary btn-sm btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-primary btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
