﻿@model QueryInstitute.Models.InstructorCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Instructor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Instructor.LastName" class="control-label"></label>
                <input asp-for="@Model.Instructor.LastName" class="form-control" />
                <span asp-validation-for="@Model.Instructor.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Instructor.FirstName" class="control-label"></label>
                <input asp-for="@Model.Instructor.FirstName" class="form-control" />
                <span asp-validation-for="@Model.Instructor.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Instructor.HireDate" class="control-label"></label>
                <input asp-for="@Model.Instructor.HireDate" class="form-control" />
                <span asp-validation-for="@Model.Instructor.HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Instructor.OfficeAssignment.Location" class="control-label"></label>
                <input asp-for="@Model.Instructor.OfficeAssignment.Location" class="form-control" />
                <span asp-validation-for="@Model.Instructor.OfficeAssignment.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            <div class="col">
                @for(int i=0; i<Model.AssignedCourseData.Count();i++)
                {
                    @Html.HiddenFor(m=>Model.AssignedCourseData[i].CourseId)
                    @Html.CheckBoxFor(m=> Model.AssignedCourseData[i].Assigned)
                    <label>@Model.AssignedCourseData[i].CourseName</label>
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

