﻿
@model int


<div class="btn-group" role="group">
    <a class="btn btn-primary btn-sm btn-primary" style="width:70px" asp-action="Edit" asp-route-id="@Model">Edit</a>
    <a class="btn btn-primary btn-sm btn-success" style="width:70px" asp-action="Details" asp-route-id="@Model">Details</a>
    <a class="btn btn-primary btn-sm btn-danger" style="width:70px" asp-action="Delete" asp-route-id="@Model">Delete</a> 
</div>